.projectMini {
  // styling
  cursor: pointer;
  position: relative;
  //margin: 0rem 1rem 2rem 1rem;
  border: solid 0.5rem $colorPrimaryB;
  border-color: $colorPrimaryB;
  transition: 0.3s ease;
  transition-property: border, color;
  color: $colorPrimaryB;
  &__desktop {
    height: 15vw;
  }
  &__mobile {
    width: 21rem;
    height: 11.81rem;
  }
  &:hover {
    transition: 0.3s ease;
    transition-property: border, color;
    border: solid 0.5rem $colorSecondary;
    color: $colorSecondary;
  }

  // children
  h1 {
    user-select: none;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    z-index: 3;
    @include absoluteCenter();
  }
  .img {
    width: 100%;
    height: 100%;
    @include absoluteCenter();
  }
  .imgCover {
    z-index: 2;
    @include absoluteCenter();
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.8);
  }
}
