.selectBox {
  &__wrapper {
    background-color: $colorPrimaryA;
    position: relative;
    color: $colorSecondary;
    border: solid 0.2rem $colorPrimaryB;
    font-size: 2rem;
    &__desktop {
      width: 25rem;
    }
  }
  &__container {
    width: 100%;
    min-width: 10rem;
    cursor: pointer;
    @include flex(space-between, center, row);
  }
  &__text {
    color: $colorSecondary;
    user-select: none;
    margin-left: 1rem;
  }
  &__arrow {
    transform: rotate(-90deg);
    font-size: 2.5rem;
    font-weight: 700;
    user-select: none;
    margin-right: 1rem;
    transition: all 0.5s ease;
    &__rotate {
      transform: rotate(-270deg);
    }
  }
  &__selections {
    z-index: 5;
    user-select: none;
    position: absolute;
    visibility: hidden;
    background-color: transparent;
    margin-right: 1rem;
    transition: all 0.5s ease;
    :nth-child(1) {
      margin-top: 0.2rem;
    }
    &__desktop {
      width: 25rem;
      transform: translateY(1rem) translateX(-0.2rem);
    }
    &__mobile {
      width: 15rem;
      transform: translateY(1rem) translateX(-5.1rem);
    }
    &__visible {
      transition: all 0.5s ease;
      visibility: visible;
      background-color: $colorPrimaryB;
    }
  }
  &__option {
    background-color: transparent;
    color: transparent;
    visibility: hidden;
    transition: all 0.5s ease;
    margin-bottom: 0.2rem;
    cursor: pointer;
    @include flex(center, center, row);
    &__visible {
      transition: all 0.5s ease;
      visibility: visible;
      background-color: $colorPrimaryA;
      color: $colorPrimaryB;
      &:hover {
        color: $colorSecondary;
      }
    }
    &__desktop {
      height: 2.3rem;
      width: 98.5%;
      transform: translateX(0.2rem);
    }
    &__mobile {
      width: 97%;
      height: 3rem;
      transform: translateX(0.19rem);
    }
  }
}
