// class for my landing page
.landingPage {
  // container styling
  width: 100%;
  height: 90vh;
  @include flex(center, flex-start, row);

  // children
  .content {
    // content section styling
    &__desktop {
      @include flex(flex-start, flex-start, column);
      width: 55%;
    }
    &__mobile {
      @include flex(center, center, column);
      width: 100%;
    }

    // children
    .title {
      font-weight: 700;
      color: $colorSecondary;
      &__desktop {
        font-size: 6rem;
        margin-top: 100px;
      }
      &__mobile {
        font-size: 3rem;
      }
    }
    .paragraph {
      font-weight: 700;
      color: $colorPrimaryB;
      &__desktop {
        text-align: justify;
        width: 90%;
        font-size: 2.5rem;
        margin-top: 10px;
      }
      &__mobile {
        width: 100%;
        font-size: 1.75rem;
        width: 95%;
      }
    }
    .socials {
      margin-top: 15px;
      @include flex(flex-start, center, row);
      width: 180px;
      height: 70px;
      a {
        margin-right: 30px;
        height: 100%;
        width: 80px;
        @include flex(flex-start, flex-start, row);
        img {
          filter: invert(98%) sepia(4%) saturate(247%) hue-rotate(222deg) brightness(113%);
          height: 100%;
        }
      }
    }
    .button {
      color: $colorPrimaryA;
      background-color: $colorSecondary;
      @include flex(center, center, row);
      font-size: 1.9rem;
      cursor: pointer;
      padding: 30px 40px;
      margin-top: 15px;
      border-radius: 100px;
      font-weight: 700;
      width: 300px;
      height: 40px;
      p {
        user-select: none;
      }
    }
    .imageContainer {
      @include flex(center, center, row);
      img {
        width: 20rem;
      }
    }
  }
  .imageSection {
    // image section styling
    width: 25vw;
    height: 90%;
    @include flex(center, flex-start, row);
    position: relative;
    &__mobile {
      display: none;
    }

    //children
    .container {
      margin-top: 8rem;
      width: 18rem;
      height: 30rem;
      @include flex(center, center, row);
      img {
        width: 35rem;
      }
    }
  }
}
