.portfolioPage {
  // styling
  width: 100%;
  max-height: 92vh;
  /* width */

  @include flex(flex-start, center, column);
  &__desktop {
    p {
      font-size: 2rem;
    }
  }
  &__mobile {
    p {
      font-size: 1.5rem;
    }
  }

  // children
  .title {
    color: $colorSecondary;
    &__desktop {
      font-size: 4rem;
    }
    &__mobile {
      font-size: 2.3rem;
    }
  }
  .intro {
    color: $colorPrimaryB;
    text-align: justify;
    &__desktop {
      width: 80%;
    }
    &__mobile {
      width: 98%;
    }
  }
  .selectBox {
    // styling
    margin-top: 1rem;
    &__desktop {
      @include flex(flex-start, center, row);
      width: 80%;
    }
    &__mobile {
      @include flex(space-between, center, row);
      width: 98%;
    }

    // children
    .selectBoxTitle {
      color: $colorPrimaryB;
      &__desktop {
        margin-right: 2rem;
      }
    }
  }
  .minisContainer {
    margin-top: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
  }
}
