.projectDetailPage {
  // styling
  width: 100%;
  @include flex(flex-start, center, column);
  overflow-y: scroll;

  // children
  .backButton {
    margin: 20px 0px;
  }
  .header {
    // styling
    &__desktop {
      margin: 40px 0px 20px 0px;
      @include flex(space-between, center, row);
    }
    &__mobile {
      width: 98%;
      @include flex(center, center, column);
    }

    // children
    .title {
      color: $colorPrimaryB;
      &__desktop {
        font-size: 4rem;
      }
      &__mobile {
        @include flex(center, center, row);
        width: 100%;
        font-size: 2rem;
        text-align: center;
      }
    }
    .details {
      // stying
      @include flex(center, center, column);
      color: $colorPrimaryB;
      font-size: 1.3rem;
      &__desktop {
        width: 40%;
      }
      &__mobile {
        width: 100%;
      }

      // children
      .detail {
        width: 100%;
        &__desktop {
          text-align: right;
        }
        &__mobile {
          text-align: center;
        }
      }
    }
  }
  .main {
    // styling
    &__desktop {
      width: 80%;
      display: grid;
      grid-template-columns: 3fr 2fr;
    }
    &__mobile {
      width: 98%;
      @include flex(center, center, column);
    }

    // children
    .descriptionContainer {
      // styling
      @include flex(flex-start, center, column);

      // children
      .description {
        color: $colorPrimaryB;
        text-align: justify;
        &__desktop {
          font-size: 1.8rem;
        }
        &__mobile {
          font-size: 1.5rem;
        }
      }
      .buttons {
        // styling
        margin-top: 15px;
        width: 100%;
        @include flex(space-evenly, center, row);

        // children
        .button {
          padding: 10px 25px;
        }
      }
    }
  }
}
