// get montserrat font, the website's font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

// remove margin and padding from everything
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// standard body styling
body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: $colorPrimaryA;
}

// remove list styling from ul's
ul {
  list-style: none;
}

.globalButton {
  @include flex(center, center, row);
  cursor: pointer;
  background-color: $colorSecondary;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 1.9rem;
  text-decoration: none;
  color: $colorPrimaryA;
  font-weight: 700;
  p {
    user-select: none;
  }
}

// scroll bar styling
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $colorPrimaryA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $colorPrimaryB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $colorSecondary;
}

//======MIGHT BIN THIS SHIT======//
// wrappers will be on every page
.allowScroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.noScroll {
  overflow-y: hidden;
  overflow-x: hidden;
}
.defaultPageWrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

// default height and width
#root {
  width: 100%;
  height: 100%;
}
